
// Global styles

body {
	font-family: georgia, serif;
	background-color: #000;
}

a:hover, a:active, a:focus {
	outline: 0;
}

h2 {
	margin: 0;
	color: black;
	font-size: 5em;
	font-family: Sans-Serif;
	line-height: 1.2;

	span {
		font-size: 2em;
		line-height: 0.9;
	}
}
h3 {
	font-size: 1.6em;
	font-family: georgia;
	font-weight: bold;
	margin: 0;
}
p {
	font-family: georgia;
	font-size: 1.2em;
	line-height: 1.5;

	&.col-2 {
		-webkit-column-count: 2;
    	-moz-column-count: 2;
    	column-count: 2;
    	-webkit-column-gap: 1.4em;
	    -moz-column-gap: 1.4em;
	    column-gap: 1.4em;
	}
	strong {
		font-style: italic;
		color: #229eb2;
	}
}

.site-wrap {
	position: relative;
	@include trans(200ms);
	// @include transform(translate3d(0,100%,0));
	&.entered {
		// @include transform(translate3d(0,0,0));
	}
}

.fullpage-wrapper {
	padding-right: 90px;
	@include border-box;
	//margin-top: 100%;
}

.inner-wrap {
	background-color: white;
	width: 100%;
}

.section {
	border-bottom: 2px black solid;
}

.section-inner {
	width: 100%;
	position: relative;
	max-width: 1560px;
	margin: 0 auto;

	&.full-page {
		height: 100%;
	}
}

.contact-button {
	position: fixed;
	width: 100px;
	background-color: black;
	color: white;
	top: 1em;
	left: 1em;
	z-index: 999;
}

.rule1 {
	width: 10%;
	height: 0.8em;
	display: block;
	background-color: black;
	margin-left: 3%;
}

.pageOne-text {
	width: 100%;
	padding: 3% 3% 3% 8%;
	@include border-box;
}

.pageTwo-text {
	width: 80%;
	height: auto;
	margin-left: 15%;

	h2 {
		margin-left: -12%;
		line-height: 1;
	}

	p {
		width: 50%;
		float: left;
		padding: 0.5em 0.9em;
		@include border-box;
	}

	h3 {
		padding: 0.6em;
		width: 50%;
		float: left;
		@include border-box;

		a {
			color: black;
			&:hover {
				color: #828282;
			}
		}
	}

	.rule2 {
		width: 3em;
		height: 0.2em;
		display: block;
		float: left;
		background-color: black;
		margin-left: 1em;
	}
}

.pageThree-text-wrap {
	position: absolute;
	width: 50%;
	right: 0;
	height: 100%;
	top: 0;
	padding-left: 1%;
	padding-right: 10%;
	z-index: 5;
	display: table;
	@include border-box;
}
.pageThree-text {
	display: table-cell;
	vertical-align: middle;

	h2 {
		margin-left: -40%;
	}
	.inset {
		padding-left: 1em;
		border-left: 2px #229eb2 solid;
		display: block;
	}
}
.pageThree-img-wrap {
	position: absolute;
	width: 50%;
	left: 0;
	height: 75%;
	bottom: 0;
	padding: 2em;
	z-index: 4;
	@include border-box;
}
.pageThree-img {
	background: url('../img/page3-lrg.jpg') no-repeat center center;
	background-size: cover;
	opacity: 0.7;
	width: 100%;
	height: 100%;
}

.pageFour-text-wrap {
	position: absolute;
	width: 40%;
	left: 0;
	height: 100%;
	top: 0;
	z-index: 5;
}
.pageFour-text {
	width: 100%;
	height: 100%;
	padding: 14% 3% 5% 32%;
	@include border-box;

	h2 {
		line-height: 1;
		margin-left: -30%;

		span {
			white-space: nowrap;
			margin-left: -1%;
		}
	}
	.icon {
		font-size: 3em;
	}

}
.pageFour-img-wrap {
	position: absolute;
	width: 60%;
	right: 0;
	height: 100%;
	top: 0;
	padding: 2em;
	z-index: 4;
	@include border-box;
}
.pageFour-img {
	background: url('../img/page4-lrg.jpg') no-repeat center center;
	background-size: cover;
	opacity: 0.7;
	width: 100%;
	height: 100%;
}

.pageFive-wrap-one {
	position: absolute;
	top: 5%;
	left: 0;
	width: 100%;
	height: 42%;

	.pageFive-img {
		background: url('../img/page5-1.jpg') no-repeat center center;
		background-size: cover;
		margin-left: 5%;
		float: left;
	}
	.pageFive-text {
		text-align: left;
		float: left;
	}
	h3 {
		padding-left: 0.2em;
	}
}
.pageFive-wrap-two {
	position: absolute;
	bottom: 5%;
	left: 0;
	width: 100%;
	height: 42%;

	.pageFive-img {
		background: url('../img/page5-2.jpg') no-repeat center center;
		background-size: cover;
		margin-right: 5%;
		float: right;
	}
	.pageFive-text {
		text-align: right;
		float: right;
	}
	h3 {
		padding-right: 0.2em;
	}
}
.pageFive-img {
	width: 40%;
	height: 100%;
	opacity: 0.7;
}
.pageFive-text {
	width: 50%;
	height: 100%;
	
	padding: 2em;
	@include border-box;

	h2 {
		font-weight: bold;
		line-height: 1;
		width: 100%;
	}

	h3 {
		font-weight: lighter;
		font-family: Sans-Serif;
	}
}





