
// Global styles

body {
	font-family: georgia, serif;
	background-color: #000;
}

a:hover, a:active, a:focus {
	outline: 0;
}

h2 {
	margin: 0;
	color: black;
	font-size: 5em;
	font-family: Sans-Serif;
	line-height: 1.2;

	span {
		font-size: 2em;
		line-height: 0.9;
	}
}
h3 {
	font-size: 1.6em;
	font-family: georgia, serif;
	font-weight: bold;
	margin: 0;
}
p {
	font-family: georgia, serif;
	font-size: 1.2em;
	line-height: 1.3;

	strong {
		font-style: italic;
		color: #229eb2;
	}
}

// #pageTwo {
// 	padding: 1em 0;
// }

.site-wrap {
	position: relative;
	@include trans(200ms);
	// @include transform(translate3d(0,100%,0));
	&.entered {
		// @include transform(translate3d(0,0,0));
	}
}

.fullpage-wrapper {
	padding-right: 90px;
	@include border-box;
	//margin-top: 100%;
}

.inner-wrap {
	background-color: white;
	width: 100%;
}

.section {
	border-bottom: 1px #229eb2 solid;
}

.section-inner {
	width: 100%;
	position: relative;
	max-width: 1560px;
	margin: 0 auto;

	&.full-page {
		height: 100%;
	}
}

.next-page {
	position: absolute;
	bottom: 20px;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-left: -15px;
	border-radius: 100%;
	background-color: #229eb2;
	color: white;
	text-decoration: none;
	font-size: 1.8em;
	padding: 0.15em;
	@include border-box;

	&:hover {
		background-color: #000;
	}
}

.rule1 {
	width: 10%;
	height: 0.8em;
	display: block;
	background-color: black;
	margin-left: 3%;
}

.pageOne-text {
	width: 100%;
	padding: 3% 3% 3% 8%;
	@include border-box;
}

.pageTwo-text {
	width: 80%;
	height: auto;
	margin-left: 15%;

	h2 {
		margin-left: -12%;
		line-height: 1;
	}

	p {
		width: 50%;
		float: left;
		padding: 0.5em 0.9em;
		@include border-box;
	}

	h3 {
		padding: 0.6em;
		width: 50%;
		float: left;
		@include border-box;

		a {
			color: black;
			&:hover {
				color: #828282;
			}
		}
	}

	.rule2 {
		width: 3em;
		height: 0.2em;
		display: block;
		float: left;
		background-color: black;
		margin-left: 1em;
	}
}

.pageThree-wrap {
	width: 100%;
	height: auto;
	position: relative;
}

.pageThree-text-wrap {
	//position: absolute;
	position: relative;
	width: 50%;
	margin-left: 50%;

	float: left;
	height: auto;

	//right: 0;
	//height: 100%;
	//top: 0;
	padding: 2em 10% 2em 1%;

	z-index: 5;
	@include border-box;
}
.pageThree-text {
	//position: relative;

	h2 {
		margin-left: -40%;
	}
	.inset {
		padding-left: 1em;
		border-left: 2px #229eb2 solid;
		display: block;
	}
}

.pageThree-img-wrap {
	position: absolute;
	width: 50%;

	//float: left;
	//height: 100%;

	left: 0;
	height: 100%;
	bottom: 0;
	padding: 6em 2em 1em 4em;
	z-index: 4;
	@include border-box;
}
.pageThree-img {
	background: url('http://itshamish.com/thevitalbowl/img/page3-lrg.jpg') no-repeat center center;
	background-size: cover;
	opacity: 0.7;
	width: 100%;
	height: 100%;
}

// .pageFour-wrap {
// 	width: 100%;
// 	height: auto;
// 	position: relative;
// }

.pageFour-text-wrap {
	// position: absolute;
	// width: 40%;
	// left: 0;
	// height: 100%;
	// top: 0;

	position: relative;
	//float: left;
	width: 50%;
	height: auto;
	z-index: 5;
}
.pageFour-text {
	width: 100%;
	//height: 100%;
	//padding: 14% 3% 5% 32%;

	padding: 1em 5% 5em 25%;
	@include border-box;

	h2 {
		line-height: 1;
		margin-left: -20%;

		span {
			white-space: nowrap;
			margin-left: -1%;
		}
	}
	.icon {
		font-size: 3em;
	}

}
.pageFour-img-wrap {
	position: absolute;
	width: 50%;
	right: 0;
	height: 100%;
	top: 0;
	//padding: 15% 4em 3em 2em;
	padding: 9.6em 3em 0 0;
	//margin-top: -25%;

	z-index: 4;
	@include border-box;
}
.pageFour-img {
	background: url('http://itshamish.com/thevitalbowl/img/page4-lrg.jpg') no-repeat center center;
	background-size: cover;
	opacity: 0.7;
	width: 100%;
	height: 100%;
}

.pageFive-wrap-one {
	position: absolute;
	top: 5%;
	left: 0;
	width: 100%;
	height: 42%;

	.pageFive-img {
		background: url('http://itshamish.com/thevitalbowl/img/page5-1.jpg') no-repeat center center;
		background-size: cover;
		margin-left: 5%;
		float: left;
	}
	.pageFive-text {
		text-align: left;
		float: left;
	}
	h2 {
		left: -18%;
	}
	p {
		padding-left: 0.2em;
	}
}
.pageFive-wrap-two {
	position: absolute;
	bottom: 5%;
	left: 0;
	width: 100%;
	height: 42%;

	.pageFive-img {
		background: url('http://itshamish.com/thevitalbowl/img/page5-2.jpg') no-repeat center center;
		background-size: cover;
		margin-right: 5%;
		float: right;
	}
	.pageFive-text {
		text-align: right;
		float: right;
	}
	h2 {
		right: -18%;
	}
	p {
		padding-right: 0.2em;
	}
}
.pageFive-img {
	width: 40%;
	height: 100%;
	opacity: 0.7;
}
.pageFive-text {
	width: 50%;
	height: 100%;
	padding: 2em;
	@include border-box;

	h2 {
		font-weight: bold;
		font-size: 6.5em;
		line-height: 1;
		width: 100%;
		position: relative;
	}
	p {
		strong {
			color: black;
		}
		
	}
}

.contact-text {
	position: absolute;
	top: 20%;
	width: 100%;
	left: 0;
	text-align: center;
	white-space: nowrap;
}

.contact-links {
	width: 100%;
	margin-top: 6em;
	text-align: center;

	a {
		display: inline-block;
		width: 2.5em;
		height: 2.5em;
		margin: 0 0.5em;
		border: 0.14em black solid;
		padding: 0.5em;
		//padding: 0.4em;
		font-size: 4em;
		color: black;
		text-decoration: none;
		@include border-box;

		&:hover {
			color: #229eb2;
			border-color: #229eb2;
		}
	}
}

.made-by {
	position: absolute;
	white-space: nowrap;
	bottom: 2em;
	left: 0;
	width: 100%;
	text-align: center;
}





