
// Global styles

body {
	//font-family: 'Source Sans Pro', helvetica, sans-serif;
	font-family: georgia, serif;
	background-color: #000;
}

a:hover, a:active, a:focus {
	outline: 0;
}

h2 {
	font-size: 2em;
	margin: 0;
	color: black;
	font-family: georgia;
	font-style: italic;
}
h3 {
	font-size: 1.6em;
	font-family: georgia;
	//font-style: italic;
	font-weight: bold;
	margin: 0;
}
p {
	font-family: georgia;
	font-size: 1.2em;
	line-height: 1.5;

	&.col-2 {
		-webkit-column-count: 2;
    	-moz-column-count: 2;
    	column-count: 2;
    	-webkit-column-gap: 1.4em;
	    -moz-column-gap: 1.4em;
	    column-gap: 1.4em;
	}
	strong {
		font-style: italic;
		color: #229eb2;
	}
}

.site-wrap {
	position: relative;
	@include trans(200ms);
	// @include transform(translate3d(0,100%,0));
	&.entered {
		// @include transform(translate3d(0,0,0));
	}
}

.fullpage-wrapper {
	padding-right: 90px;
	@include border-box;
	//margin-top: 100%;
}

.inner-wrap {
	background-color: white;
	width: 100%;
}

#pageOne {
	
}

.section-inner {
	width: 100%;
	position: relative;
	&.full-page {
		height: 100%;
	}
}

.pageOne-img {
	position: absolute;
	bottom: 15%;
	right: 10%;
	width: 70%;
	height: 70%;
	background: url('../img/page1-bg.jpg') no-repeat center center;
	background-size: cover;
	z-index: 8;
	opacity: 0.6;
}
.pageOne-text {
	position: absolute;
	width: 60%;
	left: 10%;
	top: 25%;
	height: auto;
	z-index: 9;
}

.pageTwo-text {
	width: 70%;
	height: auto;
	margin-left: 20%;

	h3 {
		margin-left: -15%;
		font-size: 2.6em;
		padding-bottom: 0.5em;
	}

	p {
		width: 50%;
		float: left;
		padding: 0.7em;
		@include border-box;
	}
}

.pageThree-text-wrap {
	position: absolute;
	width: 50%;
	right: 0;
	height: 100%;
	top: 0;
	padding-left: 3%;
	padding-right: 8%;
	display: table;
	@include border-box;
}
.pageThree-text {
	display: table-cell;
	vertical-align: middle;
	h2 {
		padding-bottom: 1em;
	}
	span {
		padding-left: 1em;
		border-left: 3px black solid;
		display: block;
	}
}
.pageThree-img-wrap {
	position: absolute;
	width: 50%;
	left: 0;
	height: 100%;
	top: 0;
	padding: 2em;
	@include border-box;
}
.pageThree-img {
	background: url('../img/page3-lrg.jpg') no-repeat center center;
	background-size: cover;
	opacity: 0.8;
	width: 100%;
	height: 100%;
}

.pageFour-text-wrap {
	position: absolute;
	width: 50%;
	left: 0;
	height: 100%;
	top: 0;
	padding-left: 8%;
	padding-right: 3%;
	display: table;
	@include border-box;
}
.pageFour-text {
	display: table-cell;
	vertical-align: middle;
	h2 {
		padding-bottom: 1em;
	}
	span {
		padding-left: 1em;
		border-left: 3px black solid;
		display: block;
	}
}
.pageFour-img-wrap {
	position: absolute;
	width: 50%;
	right: 0;
	height: 100%;
	top: 0;
	padding: 2em;
	@include border-box;
}
.pageFour-img {
	background: url('../img/page4-lrg.jpg') no-repeat center center;
	background-size: cover;
	opacity: 0.8;
	width: 100%;
	height: 100%;
}






