
// Navigation styles

.right-nav {
	position: fixed;
	right: 30px;
	top: 8%;
	z-index: 99;
	//margin-top: -260px;
}

.verticalText {
	position: absolute;
	@include transform(rotate(90deg));
	@include transform-origin(top left);
    display: inline-block;
    font-size: 1.4em;
    line-height: 1.6;
    white-space: nowrap;
    color: white;
    //color: #cecece;

    a {
    	font-weight: bold;
    	//font-style: italic;
    	font-family: sans-serif;
    	padding: 0.4em;
    	text-decoration: none;
    	color: white;
    	@include trans(200ms);
    	&:hover {
    		color: #229eb2;
    	}
    }

    span {
    	padding: 0.3em 0 0.1em 0;
    	@include border-box;
    	//@include trans(1s);

    	&.active {
			border: 1px #229eb2 solid;
			a {
				color: #229eb2;
			}
			a:hover {
				color: #229eb2;
			}
		}

		&.contact {	
			a {
				font-family: georgia, serif;
				font-style: italic;
				padding-left: 0;
			}
			&.active {
				border: none;
			}
		}
    }
    
}

.nav-info {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 120px;
	top: 0;
}
.nav-text-the {
	font-size: 0.8em;
	margin-right: 1em;
	font-weight: lighter;
	color: gray;
}
.nav-text-bowl {
	font-size: 0.8em;
	margin-left: 1em;
	font-weight: lighter;
	color: gray;
}


