
// Navigation styles

.right-nav {
	position: fixed;
	right: 30px;
	top: 8%;
	z-index: 99;
}

.verticalText {
	position: absolute;
	@include transform(rotate(90deg));
	@include transform-origin(top left);
    display: inline-block;
    font-size: 1.4em;
    line-height: 1.6;
    white-space: nowrap;

    a {
    	font-weight: bold;
    	font-family: georgia, serif;
		font-style: italic;
    	padding: 0.3em;
    	text-decoration: none;
    	color: white;
    	@include trans(200ms);
    	&:hover {
    		color: #229eb2;
    	}
    }

    span {
    	padding: 0.3em 0 0.2em 0;
    	@include border-box;
    	//@include trans(1s);

    	&.active {
			border-bottom: 2px #229eb2 solid;
			a {
				color: #229eb2;
			}
			a:hover {
				color: #229eb2;
			}
		}
    }
    
}

.contact-button-wrap {
	position: fixed;
	right: 30px;
	bottom: 13em;
	z-index: 100;
}
.contact-button-inner {
	position: absolute;
	@include transform(rotate(90deg));
	@include transform-origin(top left);
    display: inline-block;
    font-size: 1.4em;
    white-space: nowrap;

    a {
    	font-weight: bold;
    	font-family: georgia, serif;
		font-style: italic;
    	padding: 0.3em;
    	text-decoration: none;
    	color: white;
    	@include trans(200ms);
    	&:hover {
    		color: #229eb2;
    	}
    }

    span {
    	&.active {
			a {
				color: #229eb2;
			}
			a:hover {
				color: #229eb2;
			}
		}
    }
}

.mdash {
	width: 2.4em;
	height: 0.1em;
	background-color: white;
	position: relative;
	top: -0.2em;
	display: inline-block;
	margin-right: 0.2em;
}

.nav-info {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 120px;
	top: 0;
}



