/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: "tvb";
  src: url("fonts/tvb.eot");
  src: url("fonts/tvb.eot?#iefix") format("embedded-opentype"), url("fonts/tvb.woff") format("woff"), url("fonts/tvb.ttf") format("truetype"), url("fonts/tvb.svg#tvb") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "tvb" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "tvb" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-down:before {
  content: "a"; }

.icon-arrow-right:before {
  content: "b"; }

.icon-arrow-up:before {
  content: "c"; }

.icon-arrow-left:before {
  content: "d"; }

.icon-close-empty:before {
  content: "e"; }

.icon-folder:before {
  content: "n"; }

.icon-social-instagram:before {
  content: "s"; }

.icon-social-facebook:before {
  content: "t"; }

.icon-social-linkedin:before {
  content: "u"; }

.icon-mail:before {
  content: "v"; }

.icon-social-yahoo:before {
  content: "w"; }

.icon-mark-map:before {
  content: "f"; }

.icon-facebook-1:before {
  content: "g"; }

.icon-linkedin:before {
  content: "h"; }

.icon-instagrem:before {
  content: "i"; }

/**
 * fullPage 2.6.0
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none; }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent; }

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: scroll; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }

#fp-nav.right {
  right: 17px; }

#fp-nav.left {
  left: 17px; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1; }

.fp-slidesNav.bottom {
  bottom: 17px; }

.fp-slidesNav.top {
  top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.fp-slidesNav ul li {
  display: inline-block; }

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px; }

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1; }

#fp-nav ul li .fp-tooltip.right {
  right: 20px; }

#fp-nav ul li .fp-tooltip.left {
  left: 20px; }

body {
  font-family: georgia, serif;
  background-color: #000; }

a:hover, a:active, a:focus {
  outline: 0; }

h2 {
  margin: 0;
  color: black;
  font-size: 5em;
  font-family: Sans-Serif;
  line-height: 1.2; }
  h2 span {
    font-size: 2em;
    line-height: 0.9; }

h3 {
  font-size: 1.6em;
  font-family: georgia, serif;
  font-weight: bold;
  margin: 0; }

p {
  font-family: georgia, serif;
  font-size: 1.2em;
  line-height: 1.3; }
  p strong {
    font-style: italic;
    color: #229eb2; }

.site-wrap {
  position: relative; }

.fullpage-wrapper {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .fullpage-wrapper.loaded {
    padding-right: 90px; }

.inner-wrap {
  background-color: white;
  width: 100%; }

.section {
  border-bottom: 1px #229eb2 solid; }

.section-inner {
  width: 100%;
  position: relative;
  max-width: 1560px;
  margin: 0 auto; }
  .section-inner.full-page {
    height: 100%; }

.previous-page {
  position: fixed;
  z-index: 9;
  top: 30px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #000;
  color: white;
  text-decoration: none;
  font-size: 1.8em;
  padding: 0.15em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0; }
  .previous-page:hover {
    background-color: #229eb2; }
  .previous-page.active {
    opacity: 1; }

.next-page {
  position: fixed;
  z-index: 9;
  bottom: 30px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #000;
  color: white;
  text-decoration: none;
  font-size: 1.8em;
  padding: 0.15em;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: translate(-200px, 0);
  -moz-transform: translate(-200px, 0);
  -ms-transform: translate(-200px, 0);
  transform: translate(-200px, 0);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .next-page span {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
    opacity: 0; }
  .next-page:hover {
    background-color: #229eb2; }
  .next-page.loaded {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
    .next-page.loaded span {
      opacity: 1; }
  .next-page.active {
    opacity: 1; }

.rule1 {
  width: 10%;
  height: 0.8em;
  display: block;
  background-color: black;
  margin-left: 3%; }

.pageOne-text {
  width: 100%;
  padding: 3% 3% 3% 8%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pageTwo-text {
  width: 80%;
  height: auto;
  margin-left: 15%; }
  .pageTwo-text h2 {
    margin-left: -12%;
    line-height: 1; }
  .pageTwo-text p {
    width: 50%;
    float: left;
    padding: 0.5em 0.9em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .pageTwo-text h3 {
    padding: 0.6em;
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .pageTwo-text h3 a {
      color: black; }
      .pageTwo-text h3 a:hover {
        color: #828282; }
  .pageTwo-text .rule2 {
    width: 3em;
    height: 0.2em;
    display: block;
    float: left;
    background-color: black;
    margin-left: 1em; }

.pageThree-wrap {
  width: 100%;
  height: auto;
  position: relative; }

.pageThree-text-wrap {
  position: relative;
  width: 50%;
  margin-left: 50%;
  float: left;
  height: auto;
  padding: 2em 10% 2em 1%;
  z-index: 5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pageThree-text h2 {
  margin-left: -40%; }
.pageThree-text .inset {
  padding-left: 1em;
  border-left: 2px #229eb2 solid;
  display: block; }

.pageThree-img-wrap {
  position: absolute;
  width: 50%;
  left: 0;
  height: 100%;
  bottom: 0;
  padding: 6em 2em 1em 4em;
  z-index: 4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pageThree-img {
  background: url("http://itshamish.com/thevitalbowl/img/page3-lrg.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0.7;
  width: 100%;
  height: 100%; }

.pageFour-text-wrap {
  position: relative;
  width: 50%;
  height: auto;
  z-index: 5; }

.pageFour-text {
  width: 100%;
  padding: 1em 5% 5em 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .pageFour-text h2 {
    line-height: 1;
    margin-left: -20%; }
    .pageFour-text h2 span {
      white-space: nowrap;
      margin-left: -1%; }
  .pageFour-text .icon {
    font-size: 3em; }

.pageFour-img-wrap {
  position: absolute;
  width: 50%;
  right: 0;
  height: 100%;
  top: 0;
  padding: 9.6em 3em 0 0;
  z-index: 4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pageFour-img {
  background: url("http://itshamish.com/thevitalbowl/img/page4-lrg.jpg") no-repeat center center;
  background-size: cover;
  opacity: 0.7;
  width: 100%;
  height: 100%; }

.pageFive-wrap-one {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 42%; }
  .pageFive-wrap-one .pageFive-img {
    background: url("http://itshamish.com/thevitalbowl/img/page5-1.jpg") no-repeat center center;
    background-size: cover;
    margin-left: 5%;
    float: left; }
  .pageFive-wrap-one .pageFive-text {
    text-align: left;
    float: left; }
  .pageFive-wrap-one h2 {
    left: -18%; }
  .pageFive-wrap-one p {
    padding-left: 0.2em; }

.pageFive-wrap-two {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  height: 42%; }
  .pageFive-wrap-two .pageFive-img {
    background: url("http://itshamish.com/thevitalbowl/img/page5-2.jpg") no-repeat center center;
    background-size: cover;
    margin-right: 5%;
    float: right; }
  .pageFive-wrap-two .pageFive-text {
    text-align: right;
    float: right; }
  .pageFive-wrap-two h2 {
    right: -18%; }
  .pageFive-wrap-two p {
    padding-right: 0.2em; }

.pageFive-img {
  width: 40%;
  height: 100%;
  opacity: 0.7; }

.pageFive-text {
  width: 50%;
  height: 100%;
  padding: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .pageFive-text h2 {
    font-weight: bold;
    font-size: 6.5em;
    line-height: 1;
    width: 100%;
    position: relative; }
  .pageFive-text p strong {
    color: black; }

.contact-text {
  position: absolute;
  top: 20%;
  width: 100%;
  left: 0;
  text-align: center;
  white-space: nowrap; }

.contact-links {
  width: 100%;
  margin-top: 6em;
  text-align: center; }
  .contact-links a {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    margin: 0 0.5em;
    border: 0.14em black solid;
    padding: 0.5em;
    font-size: 4em;
    color: black;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .contact-links a:hover {
      color: #229eb2;
      border-color: #229eb2; }

.made-by {
  position: absolute;
  white-space: nowrap;
  bottom: 2em;
  left: 0;
  width: 100%;
  text-align: center; }

.preloader {
  width: 100%;
  display: block;
  -webkit-transition: all 1.5s cubic-bezier(0.575, 0.165, 0, 1);
  -moz-transition: all 1.5s cubic-bezier(0.575, 0.165, 0, 1);
  -o-transition: all 1.5s cubic-bezier(0.575, 0.165, 0, 1);
  transition: all 1.5s cubic-bezier(0.575, 0.165, 0, 1);
  background: #229eb2 url("http://itshamish.com/thevitalbowl/img/logo-white.svg") no-repeat center center;
  background-size: 200px; }
  .preloader.loaded .loader {
    opacity: 0; }
  .preloader.loaded .enter-site-button {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; }

.loader-wrap {
  position: absolute;
  left: 50%;
  bottom: 50px;
  width: 200px;
  height: 100px;
  margin-left: -100px;
  z-index: 6;
  display: block;
  overflow: hidden; }

.enter-site-button {
  position: absolute;
  top: 0;
  left: 50%;
  width: 60px;
  height: 100px;
  display: block;
  margin-left: -30px;
  color: #fff;
  opacity: 0;
  z-index: 9;
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  transition: all 800ms ease;
  -webkit-transform: translate3d(0, 200px, 0);
  -moz-transform: translate3d(0, 200px, 0);
  -ms-transform: translate3d(0, 200px, 0);
  transform: translate3d(0, 200px, 0); }
  .enter-site-button span {
    font-size: 2.5em;
    display: block; }

.loader {
  width: 200px;
  position: absolute;
  display: block;
  top: 10px;
  z-index: 8;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease; }

.bounce1 {
  display: block;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 20px;
  left: 80px;
  background-color: white;
  -webkit-animation: bounce 1s ease-in-out infinite;
  -moz-animation: bounce 1s ease-in-out infinite;
  -ms-animation: bounce 1s ease-in-out infinite;
  -o-animation: bounce 1s ease-in-out infinite;
  animation: bounce 1s ease-in-out infinite; }

.bounce2 {
  display: block;
  position: absolute;
  border-radius: 100%;
  background-color: white;
  height: 10px;
  width: 10px;
  top: 20px;
  left: 100px;
  -webkit-animation: bounce 1s ease-in-out infinite;
  -moz-animation: bounce 1s ease-in-out infinite;
  -ms-animation: bounce 1s ease-in-out infinite;
  -o-animation: bounce 1s ease-in-out infinite;
  animation: bounce 1s ease-in-out infinite;
  -webkit-animation-delay: 0.10s;
  -moz-animation-delay: 0.10s;
  -ms-animation-delay: 0.10s;
  -o-animation-delay: 0.10s;
  animation-delay: 0.10s; }

.bounce3 {
  display: block;
  position: absolute;
  border-radius: 100%;
  background-color: white;
  height: 10px;
  width: 10px;
  top: 20px;
  left: 120px;
  -webkit-animation: bounce 1s ease-in-out infinite;
  -moz-animation: bounce 1s ease-in-out infinite;
  -ms-animation: bounce 1s ease-in-out infinite;
  -o-animation: bounce 1s ease-in-out infinite;
  animation: bounce 1s ease-in-out infinite;
  -webkit-animation-delay: 0.20s;
  -moz-animation-delay: 0.20s;
  -ms-animation-delay: 0.20s;
  -o-animation-delay: 0.20s;
  animation-delay: 0.20s; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translatey(20px);
    -moz-transform: translatey(20px);
    -ms-transform: translatey(20px);
    transform: translatey(20px); }
  50% {
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
    -ms-transform: translatey(-20px);
    transform: translatey(-20px); }
  100% {
    -webkit-transform: translatey(20px);
    -moz-transform: translatey(20px);
    -ms-transform: translatey(20px);
    transform: translatey(20px); } }
@-moz-keyframes bounce {
  0% {
    -webkit-transform: translatey(20px);
    -moz-transform: translatey(20px);
    -ms-transform: translatey(20px);
    transform: translatey(20px); }
  50% {
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
    -ms-transform: translatey(-20px);
    transform: translatey(-20px); }
  100% {
    -webkit-transform: translatey(20px);
    -moz-transform: translatey(20px);
    -ms-transform: translatey(20px);
    transform: translatey(20px); } }
@-ms-keyframes bounce {
  0% {
    -webkit-transform: translatey(20px);
    -moz-transform: translatey(20px);
    -ms-transform: translatey(20px);
    transform: translatey(20px); }
  50% {
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
    -ms-transform: translatey(-20px);
    transform: translatey(-20px); }
  100% {
    -webkit-transform: translatey(20px);
    -moz-transform: translatey(20px);
    -ms-transform: translatey(20px);
    transform: translatey(20px); } }
@-o-keyframes bounce {
  0% {
    -webkit-transform: translatey(20px);
    -moz-transform: translatey(20px);
    -ms-transform: translatey(20px);
    transform: translatey(20px); }
  50% {
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
    -ms-transform: translatey(-20px);
    transform: translatey(-20px); }
  100% {
    -webkit-transform: translatey(20px);
    -moz-transform: translatey(20px);
    -ms-transform: translatey(20px);
    transform: translatey(20px); } }
@keyframes bounce {
  0% {
    -webkit-transform: translatey(20px);
    -moz-transform: translatey(20px);
    -ms-transform: translatey(20px);
    transform: translatey(20px); }
  50% {
    -webkit-transform: translatey(-20px);
    -moz-transform: translatey(-20px);
    -ms-transform: translatey(-20px);
    transform: translatey(-20px); }
  100% {
    -webkit-transform: translatey(20px);
    -moz-transform: translatey(20px);
    -ms-transform: translatey(20px);
    transform: translatey(20px); } }
.right-nav {
  position: fixed;
  right: 30px;
  top: 8%;
  z-index: 99;
  opacity: 0;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease; }
  .right-nav.active {
    opacity: 1; }

.verticalText {
  position: absolute;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  display: inline-block;
  font-size: 1.4em;
  line-height: 1.6;
  white-space: nowrap; }
  .verticalText a {
    font-weight: bold;
    font-family: georgia, serif;
    font-style: italic;
    padding: 0.3em;
    text-decoration: none;
    color: white; }
    .verticalText a:hover {
      color: #229eb2; }
  .verticalText span {
    padding: 0.3em 0 0.2em 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .verticalText span.active {
      border-bottom: 2px #229eb2 solid; }
      .verticalText span.active a {
        color: #229eb2; }
      .verticalText span.active a:hover {
        color: #229eb2; }

.contact-button-wrap {
  position: fixed;
  right: 30px;
  bottom: 13em;
  z-index: 100; }

.contact-button-inner {
  position: absolute;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  display: inline-block;
  font-size: 1.4em;
  white-space: nowrap; }
  .contact-button-inner a {
    font-weight: bold;
    font-family: georgia, serif;
    font-style: italic;
    padding: 0.3em;
    text-decoration: none;
    color: white; }
    .contact-button-inner a:hover {
      color: #229eb2; }
  .contact-button-inner span.active a {
    color: #229eb2; }
  .contact-button-inner span.active a:hover {
    color: #229eb2; }

.mdash {
  width: 2.4em;
  height: 0.1em;
  background-color: white;
  position: relative;
  top: -0.2em;
  display: inline-block;
  margin-right: 0.2em; }

.nav-info {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 120px;
  top: 0; }

@media only screen and (min-width: 1400px) {
  .pageThree-img-wrap {
    padding-top: 11em; }

  .previous-page {
    width: 60px;
    height: 60px;
    top: 50px;
    left: 50px;
    font-size: 2.6em;
    padding: 0.2em; }

  .next-page {
    width: 60px;
    height: 60px;
    bottom: 50px;
    left: 50px;
    font-size: 2.6em;
    padding: 0.2em; } }
@media only screen and (max-width: 1400px) {
  h2 {
    font-size: 2em; }

  .rule1 {
    height: 0.4em; }

  .pageThree-text h2 {
    margin-left: -25%; }

  .pageFive-text h2 {
    font-size: 3em; }

  .pageFour-img-wrap {
    padding-top: 5em; } }
@media only screen and (max-width: 1286px) {
  h3 {
    font-size: 1.4em; }

  p {
    font-size: 1em;
    line-height: 1.3; }

  .right-nav {
    right: 18px;
    line-height: 1.4em; }

  .verticalText a {
    padding: 0.2em; }
  .verticalText span {
    padding: 0.2em 0 0.1em 0; }

  .contact-button-wrap {
    right: 25px;
    bottom: 12em; }

  .fullpage-wrapper.loaded {
    padding-right: 70px; } }
@media only screen and (max-width: 720px) {
  h2 {
    font-size: 1.6em; }

  h3 {
    font-size: 1.3em; }

  .fullpage-wrapper {
    overflow: hidden; }

  .next-page {
    display: none; }

  .previous-page {
    display: none; }

  .pageTwo-text {
    width: 100%;
    margin-left: 0;
    padding: 3em 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .pageTwo-text h2 {
      margin-left: 0; }
    .pageTwo-text p {
      width: 100%;
      padding: 0; }
    .pageTwo-text h3 {
      width: 100%;
      padding-left: 0;
      padding-right: 0; }

  .pageThree-text-wrap {
    position: relative;
    padding: 1em;
    padding-bottom: 3em;
    width: 100%;
    height: auto;
    margin-left: 0; }
    .pageThree-text-wrap h2 {
      margin-left: 0; }

  .pageThree-img-wrap {
    position: relative;
    padding: 1em;
    padding-top: 3em;
    width: 100%;
    height: 20em; }

  .pageFour-text-wrap {
    position: relative;
    padding: 1em;
    padding-bottom: 3em;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto; }

  .pageFour-text {
    padding: 0; }
    .pageFour-text h2 {
      margin-left: 0; }
      .pageFour-text h2 span {
        margin-left: 0; }

  .pageFour-img-wrap {
    position: relative;
    padding: 1em;
    padding-top: 3em;
    width: 100%;
    height: 20em; }

  .pageFive-wrap-one {
    position: relative;
    padding: 1em;
    width: 100%;
    height: auto;
    top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .pageFive-wrap-two {
    position: relative;
    padding: 1em;
    width: 100%;
    height: auto;
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .pageFive-img {
    width: 100%;
    padding: 0;
    margin-left: 0;
    height: 16em;
    margin: 0 !important; }

  .pageFive-text {
    width: 100%;
    height: auto;
    padding: 1em 0; }
    .pageFive-text h2 {
      font-size: 3em;
      left: 0;
      right: 0; }

  .contact-text {
    white-space: wrap;
    position: relative;
    top: 0;
    padding-top: 3em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .contact-text h2 {
      font-size: 1.4em; }

  .contact-links {
    margin-top: 4em; }
    .contact-links a {
      width: 2em;
      height: 2em;
      margin: 0 0.2em;
      padding: 0.3em;
      font-size: 2em; } }
@media only screen and (max-width: 420px) {
  h2 {
    font-size: 1.2em; }

  .rule1 {
    width: 15%; }

  .contact-text {
    white-space: wrap; }
    .contact-text h2 {
      font-size: 1.2em; }

  .right-nav {
    display: none; }

  .fullpage-wrapper.loaded {
    padding-right: 0; } }
@media only screen and (max-width: 340px) {
  .right-nav {
    display: none; }

  .pageFive-text h2 {
    font-size: 2em; } }
@media only screen and (max-height: 600px) {
  .loader-wrap {
    bottom: 10px; }

  .contact-links {
    margin-top: 2em; } }
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
